<!-- <form id="checkout" method="POST" action="/myaccount/checkout">
          <div id="payment-form"></div>
          <input name="customerInfo" id="checkoutParameters" type="hidden" class="hidden"></input>
          <button type="submit" class="ui green button submit" style="width:100%; margin-top:20px;" id="submitPurchase">Purchase Price: $<span id="payButton" name="payAmount">0.00</span></button>
          
      </form>-->

<script src="https://js.braintreegateway.com/web/3.14.0/js/client.min.js"></script>
<script>
// Generate a client token on your server (see section below).
var authorization = "<%=clientToken%>";
var submit = document.querySelector('input[type="submit"]');

braintree.client.create({
  authorization: authorization
}, function (clientErr, clientInstance) {
  if (clientErr) {
    // Handle error in client creation
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14pt'
      },
      'input.invalid': {
        'color': 'red'
      },
      'input.valid': {
        'color': 'green'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationDate: {
        selector: '#expiration-date',
        placeholder: '10/2019'
      }
    }
  }, function (hostedFieldsErr, hostedFieldsInstance) {
    if (hostedFieldsErr) {
      // Handle error in Hosted Fields creation
      return;
    }

    submit.removeAttribute('disabled');
  });
});
</script>
<script>
var checkoutParams = {
    amount: "",
    customer: {
      firstName: "<%=customerInfo.shipping[0].firstName%>",
      lastName: "<%=customerInfo.shipping[0].lastName%>",
      phone: null,
      customerId: "<%=customerInfo._id%>",
      email: "<%=customerInfo.username%>"
    },
    shipping: {
      firstName: "<%=customerInfo.shipping[0].firstName%>",
      lasttName: "<%=customerInfo.shipping[0].lastName%>",
      streetAddress: "<%=customerInfo.shipping[0].address%>",
      extendedAddress: "<%=customerInfo.shipping[0].addressApt%>",
      locality: "<%=customerInfo.shipping[0].city%>",
      region: "<%=customerInfo.shipping[0].state%>",
      postalCode: "<%=customerInfo.shipping[0].zipcode%>"
    }
}


/* $("#submitPurchase").click(function(){
  $.post("/myaccount/checkout", 
  {
    amount: checkoutParams.amount,
    customer: {
      firstName: "<%=customerInfo.shipping[0].firstName%>",
      lastName: "<%=customerInfo.shipping[0].lastName%>",
      phone: null,
      customerId: "<%=customerInfo._id%>",
      email: "<%=customerInfo.username%>"
    },
    shipping: {
      firstName: "<%=customerInfo.shipping[0].firstName%>",
      lasttName: "<%=customerInfo.shipping[0].lastName%>",
      streetAddress: "<%=customerInfo.shipping[0].address%>",
      extendedAddress: "<%=customerInfo.shipping[0].addressApt%>",
      locality: "<%=customerInfo.shipping[0].city%>",
      region: "<%=customerInfo.shipping[0].state%>",
      postalCode: "<%=customerInfo.shipping[0].zipcode%>"
    }
},
  function(data, status) {
    console.log("Data: " + data + " Status: " + status);
  });
});*/

/*var cartItems = document.getElementsByName("itemQty");
var itemQtyCalculation = (function() {
  for (var i = 0; i < cartItems.length; i++){
    cartItems[i].onchange = cartSubTotal;
  }
})();

function cartSubTotal() {
  var checkoutParameters = document.getElementById("checkoutParameters");
  var cartPrice = document.getElementsByName("itemPrice");
  var payButton = document.getElementById("payButton");
  var subTotal = 0;
  for (var i = 0; i < cartPrice.length; i++) {
    if (cartPrice[i].nextElementSibling.nextElementSibling.childNodes[1].value < 0) {
        cartPrice[i].nextElementSibling.nextElementSibling.childNodes[1].value = 0;
    }
    subTotal += Number(cartPrice[i].innerText) * cartPrice[i].nextElementSibling.nextElementSibling.childNodes[1].value ;
  }
  subTotal = subTotal.toFixed(2);
  return (function(){
    payButton.innerText = subTotal;
    checkoutParams.amount = subTotal;
    checkoutParameters.value = JSON.stringify(checkoutParams);
  })();
}


(function () {
  var clientToken = "<%=clientToken%>";
  braintree.setup(clientToken, "dropin", {
    container: "payment-form"
  });
})() */
</script>